<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
  <head>
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Lobster+Two">
  </head>
  <body>

  <body>
    <div id="wrapper">
      <section id="top_header">
        <div class="inner-wrapper text_center">
          <!--Start Main Navigation-->
          <div class="togle_menu_mobile"><a class="btn btn-primary flat" data-toggle="collapse" data-target=".main_navbar"> <i class="icon-th-list icon-2x"></i> </a> <strong>&nbsp;&nbsp;Lobster </strong> Hotel</div>
          <nav class="main_navbar collapse">
            <ul class="unstyled">
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="accomodation.html">Accomodation</a></li>
              <li><a href="restuarant.html">Restuarant</a></li>
              <li><a href="spa.html">Spa</a></li>
              <li><a href="offering.html">Offering</a></li>
              <li><a href="events.html">Events</a></li>
              <li><a href="reservation.html">Reservations</a></li>
              <li><a href="about.html">About Us</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Member <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="login.html">Login</a></li>
                  <li><a href="singup.html">SignUp</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="index_simple.html">Home Simple</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="blog_detail.html">Blog Detail</a></li>
                  <li><a href="galeries.html">Galeries</a></li>
                  <li><a href="blank.html">Blank page</a></li>
                  <li><a href="documentation/index.html">Documentation</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!--ENd Main Navigation-->
        </div>
      </section>      <!-- Start section content Top -->
      <section id="content_top">
        <!-- STart sequence Slider  -->
        <div id="sequence">
          <a href="#" class="sequence-prev">Prev</a>
          <a href="#" class="sequence-next">Next</a>
          <ul class="sequence-canvas unstyled">
            <li class="animate-in ">
              <div class="start_anime">
                <img src="lobster/images/slider/s1.jpg" class="bg_slider" alt="preview"/>
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title">Welcome to <small><strong>Lobster</strong> Hotel</small></h2>
                    <div class="description">
                      <p>Sed ut quam at magna porttitor hendrerit. Maecenas quis erat fringilla augue feugiat vulputate a eu sem. Pellentesque molestie lacus. Morbi sed justo at erat sollicitudin placerat mollis sed massaerat sollicitudin placerat mollis.Sed ut quam at magna porttitor hendrerit. Maecenas quis erat fringilla augue feugiat vulputate a eu sem.</p>
                    </div>
                    <img src="lobster/images/slider/2586270104_7f6d2c12aa.png" class="img_sllider" alt="preview">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="start_anime">
                <img src="lobster/images/slider/s2.jpg" class="bg_slider" alt="preview"/>
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title">Why Are <small>the <strong>Best</strong>?</small></h2>
                    <div class="description">
                      <ul>
                        <li>Best Place For Holiday</li>
                        <li>Profesional Chef of Our Restorutant</li>
                        <li>Many Interest Events </li>
                        <li>Really Great Price for You</li>
                        <li>Our Statisfation is our Vision</li>
                      </ul>
                    </div>
                    <img src="lobster/images/slider/2585437547_01262e75df.png" class="img_sllider" alt="preview">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div><!-- End sequence Slider  -->
      </section><!-- End section content page -->
      <!-- Start section logo message area -->
      <section id="logo_message_area">
        <div class="inner-wrapper">
          <!-- Start logo image -->
          <h1 class="no_margin logo" ><strong>Sen</strong> <small>Diany</small></h1><!-- End logo image -->
          <!-- Start Message Your own -->
          <div class="row-fluid">
            <div class="span8">
              <p class="no_margin"> Hodowla Kotów Syberyjskich - Dorota Lesiak</p>
            </div>
          </div><!-- End Message Your own -->
        </div>
        <div class="inner-wrapper driver_space"></div>
      </section><!-- End section logo message area -->
      <!-- Start section content page -->
      <section id="content">
        <div class="inner-wrapper">
        {% block content %}
        {% endblock %}
        </div>
      </section><!-- End section content page -->      
      <!--Start Footer Section-->
      <footer id="footer">
        <div class="inner-wrapper driver_space"></div>
        <div class="inner-wrapper content">
          <div class="row-fluid">
            <div class="span3">
              <h3 >About <span class="font_hotel">Us</span></h3>
              <p>Phasellus fringilla suscipit risus nec eleifend. </p>
              <!--Start List Contact Info-->
              <ul class="unstyled contact_info">
                <li class="location">12345 / Some Street<br>Portland, USA</li>
                <li class="phone">phone: +1 (44)  123-45-67<br>fax: +1 (44)  123-45-63</li>
                <li class="skype"><a href="skype:echo123?call">Skype Me</a></li>
              </ul>
              <!--End List Contact Info-->
              <h3 >Stay Connect  <span class="font_hotel"> Socials</span></h3>
              <!--Start List Links Social Network-->
              <div class="link_socials">
                <a href="#"><img src="lobster/images/icons/facebook.png" alt="network"/></a>
                <a href="#"><img src="lobster/images/icons/twitter.png" alt="network"/></a>
                <a href="#"><img src="lobster/images/icons/google-plus.png" alt="network"/></a>
                <a href="#"><img src="lobster/images/icons/vimeo.png" alt="network"/></a>
                <a href="#"><img src="lobster/images/icons/youtube.png" alt="network"/></a>
              </div>
              <!--End List Links Social Network-->
            </div>
            <div class="span2">
              <h3 >Page  <span class="font_hotel"> Links</span></h3>
              <!--Start List Link pages-->
              <ul class="link_list_footer">
                <li><a href="#">Home</a></li>
                <li><a href="#">Accomodation</a></li>
                <li><a href="#">Restaurant</a></li>
                <li><a href="#">Spa</a></li>
                <li><a href="#">Offering</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Reservation</a></li>
                <li><a href="#">Location</a></li>
                <li><a href="#">Room VIP</a></li>
                <li><a href="#">Room Deluxe</a></li>
                <li><a href="#">Room Standart</a></li>
              </ul>
              <!--End List Link pages-->
            </div>
            <div class="span3">
              <h3 >Latest <span class="font_hotel"> Promotion</span></h3>
              <!--Start List Links Promotion-->
              <ul class="link_list_footer">
                <li><a href="#">Get <strong>30%</strong> promotion <strong>VIP</strong> room just for today</a></li>
                <li><a href="#">Get <strong>30%</strong> promotion <strong>Deluxe </strong> room for a limited time</a></li>
                <li><a href="#">Get <strong>30%</strong> promotion <strong>Economis</strong> room for a limited time</a></li>
                <li><a href="#">Get <strong>30%</strong> promotion <strong>Standart</strong> room for a limited time</a></li>
                <li><a href="#">Get <strong>30%</strong> promotion <strong>Standart</strong> room for a limited time</a></li>
              </ul>
              <!--End List Links Promotion-->
            </div>
            <div class="span4">
              <h3 >Our <span class="font_hotel">Galeries</span></h3>
              <!--Start List Grid Galeries img-->
              <div class="gridmasonry galeries_footer">
                <div class="item_grid item3">
                  <a href="lobster/images/interior/5388055503_bdfec0a3d5.jpg" title="Image Title"> <div class="hover"></div><img src="lobster/images/interior/5388055503_bdfec0a3d5.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="lobster/images/interior/5388662544_9e6441ee70.jpg" title="Image Title"> <div class="hover"></div><img src="lobster/images/interior/5388662544_9e6441ee70.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="lobster/images/interior/5388661724_e92356d456.jpg" title="Image Title"> <div class="hover"></div><img src="lobster/images/interior/5388661724_e92356d456.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="lobster/images/interior/5388661724_e92356d456.jpg" title="Image Title"> <div class="hover"></div><img src="lobster/images/interior/5388661724_e92356d456.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="lobster/images/interior/5388055503_bdfec0a3d5.jpg" title="Image Title"> <div class="hover"></div><img src="lobster/images/interior/5388055503_bdfec0a3d5.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="lobster/images/interior/5388662544_9e6441ee70.jpg" title="Image Title"> <div class="hover"></div><img src="lobster/images/interior/5388662544_9e6441ee70.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="lobster/images/interior/5388662544_9e6441ee70.jpg" title="Image Title"> <div class="hover"></div><img src="lobster/images/interior/5388662544_9e6441ee70.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="lobster/images/interior/5388661724_e92356d456.jpg" title="Image Title"> <div class="hover"></div><img src="lobster/images/interior/5388661724_e92356d456.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="lobster/images/interior/5388055503_bdfec0a3d5.jpg" title="Image Title"> <div class="hover"></div><img src="lobster/images/interior/5388055503_bdfec0a3d5.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="lobster/images/interior/5388055503_bdfec0a3d5.jpg" title="Image Title"> <div class="hover"></div><img src="lobster/images/interior/5388055503_bdfec0a3d5.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="lobster/images/interior/5388662544_9e6441ee70.jpg" title="Image Title"> <div class="hover"></div><img src="lobster/images/interior/5388662544_9e6441ee70.jpg" alt="img_preview"></a>
                </div>
                <div class="item_grid item3">
                  <a href="lobster/images/interior/5388661724_e92356d456.jpg" title="Image Title"> <div class="hover"></div><img src="lobster/images/interior/5388661724_e92356d456.jpg" alt="img_preview"></a>
                </div>
              </div>
              <!--End List Grid Galeries img-->
            </div>
          </div>
        </div>
        <!--Start Sucribe Panel-->
        <div class="subcrible">
          <div class="inner-wrapper">
            <div class="row-fluid">
              <div class="span3"><h2> <strong>Subscribe</strong> to get <span class="font_hotel">our latest</span> news</h2></div>
              <div class="span9">
                <!--Start Form Subcribe-->
                <form>
                  <input type="text" name="email" class="input-block-level" placeholder="Enter Your Email"/>
                  <input type="submit" name="send" value="Subcribe" class="btn flat btn-primary btn-large"/>
                </form>
                <!--End Form Subcribe-->
              </div>
            </div>
          </div>
        </div>
        <!--End Sucribe Panel-->
        <!--Start Footer Bottom-->
        <div class="footer_bottom">
          <div class="inner-wrapper">
            <div class="row-fluid ">
              <div class="span3"><p class="font_hotel">Lobster Hotel</p></div>
              <div class="span3">
                <!--Start List Flags-->
                <div class="languages">
                  <ul class="unstyled">
                    <li><a href="#"><img  src="lobster/images/flag/germen.png" alt="flag"/> Germen</a></li>
                    <li><a href="#"><img  src="lobster/images/flag/france.png" alt="flag"/> France</a></li>
                    <li><a href="#"><img  src="lobster/images/flag/english.png" alt="flag"/> English</a></li>
                  </ul>
                </div>
                <!--End List Flags-->
              </div>
              <div class="span6 text_right"><p>Copyright &copy; 2013 yourcompany.com. All Rights Reserved</p></div>
            </div>
          </div>
        </div><!--End Footer Bottom-->
        <!--Start Arrow Back To TOP Page-->
        <div id="back_to_top">
          <a href="#wrapper" class="localScroll btn flat btn-inverse hidden-phone">
            <i class="icon-3x icon-angle-up"></i>
          </a>
        </div><!--End Arrow Back To TOP Page-->
      </footer><!--End Footer Section-->

     
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/local.js') }}"></script>
  </body>
</html>